<!doctype html>
body: {
    
    margin: 10 ;
    
}

header{
    background: green;
    color: orange;
    margin: 0 ;
        
}

header hl{
    
    margin: 10 ;
    
}

nav ul{
    
    margin: 10 ;
    
}


